.page {
    display: block;
    font-family: 'Monserrat';
    font-size: 15px;
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
}

/*Header*/
.header {
    width: 100vw;
    height: 10%;
    position: fixed;
    background: #252525;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d5d5d3;
    z-index: 10;
    opacity: .8;
}

.header_logo {
    font-size: 1.8vw;
    font-weight: 700;
    padding-left: 10%;
    color: #d5d5d3;
}

/*Navigation*/
.nav {
    font-size: .8vw;
    text-transform: uppercase;
    padding-right: 5%;

}

.nav_link {

    display: inline-block;
    vertical-align: top;
    margin: 0 1.5vw;
    position: relative;
    right: 3%;
    color: #d5d5d3;
    text-decoration: none;
    transition: color .2s linear;

}

.nav_link:after {

    content: "";
    display: block;
    width: 100%;
    height: .3%;
    background-color: #fdd947;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;

}

.nav_link:hover {

    color: #fdd947;


}

.nav_link:hover:after,
.nav_link.active:after {

    opacity: 1;

}

/*body*/
.body {
    margin: 0;
    display: block;
}

/* login */

.log_page{
    width: 100vw;
    height: calc(9*100vw/16);
    background: url(images/12.jpg) 100vw calc(9*100vw/16)/ cover;
}

.cont_log {
    position: relative;
    top: 35%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30%;
    background: rgba(0, 0, 0, .7);

}

.log_form {
    width: 30vw;
    box-shadow: 0 .4vw 1.6vw #ccc;
}

.log_title {

    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.loginput_form {

    position: relative;
    margin-top: 1.5vw;
    letter-spacing: 1px;

}

.log_label {

    position: absolute;
    top: 0;
    left: 0;
    color: #9e9e9e;
    transition: .3s;

}

.log_text {

    color: #fff;
    width: 100%;
    padding: 0 0 .1vw 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    transition: .3s;
    background-color: transparent;


}

.log_text:focus {

    border-bottom: 1px solid #FFE600;

}

.log_button {
    width: 100%;
    padding: .5vw .2vw;
    border: none;
    color: #fff;
    background-color: #59B542;
    outline: none;
    cursor: pointer;
    transition: .3s;
    letter-spacing: 1px;

}

.log_button:focus,
.log_button:hover {

    color: #FFE600;
    background-color: #489435;

}

.log_text:focus~.log_label,
.log_text:not(:placeholder-shown)~.log_label {

    top: -.9vw;
    font-size: 12px;
    color: #e0e0e0;
}

.reg_link {

    margin-left: 15%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;

}

.reg_link:hover {

    color: #FFE600;

}

.forg_pass {

    margin-left: 40%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;

}

.forg_pass:hover {

    color: #FFE600;

}

/* footer */

.footer {
    height: 7vw;
    background: #252525;
    opacity: .8;
    position: relative;
}

/* Social links */
.social_text {
    display: flex;
    font-family: 'Monserrat';
    font-size: 20px;
    line-height: 1.6;

    padding-left: 10vw;
    color: #fff;

}

.social_icons {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: .25vh;
    padding-left: 10vw;

}

.social_icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.social_icons a {
    position: relative;
    background-color: #eee;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
}

.social_icons a:hover {
    background-color: #e0e0e0;
}

.social_icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.social_icons .social_icon_vk::before {
    background-image: url("images/VK_Compact_Logo.png");
}

.social_icons .social_icon_inst::before {
    background-image: url("images/1024px-Instagram_icon.png");
}